<div class="floating-header">
    <div class="floating-header-logo">
        <a href="{{@custom.floating_header_logo_href}}">
            {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}} icon" />
            {{else}}
            <span>{{@site.title}}</span>
            {{/if}}
        </a>
    </div>
    {{#unless @site.logo}}
    <span class="floating-header-divider">&mdash;</span>
    {{/unless}}
    <div class="floating-header-title">{{title}}</div>
    <a class="gh-head-button" href={{@custom.primary_call_to_action_button_href}} data-portal="signup">{{@custom.primary_call_to_action_button_text}}</a>
    {{!-- <button id="floating-header-cta" class="floating-header-cta">Try Retool</button> --}}
    <progress id="progress" class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>